logs/*.log
*.log
*.db
data/
.env
*.env
Shopify-Scraper.code-workspace
.vscode/
*.pyc
__pycache__/
*.pyo
*.pyd
*.pkl
*.sqlite3
.ipynb_checkpoints/
*.pid
htmlcov/
.tox/
.coverage
.cache
pytest.ini
dist/
build/
*.egg-info/
*.egg
.DS_Store
Thumbs.db
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
supervisord.conf
*.bak
*.swp
